.cardContainer {
  display:flex;
  flex-direction:column;
  justify-content:center;
  
  margin-top: 50px;
  margin-left: 50px;
  width:80%;
  height: 84%;
  border: 1px solid rgb(0, 255, 0);
  box-shadow: 2px 2px 8px 4px #7bff53d1;
  border-radius:15px;
}

.Back {
  max-width: 40%;
  max-height: 85%;
  background-color: #534d4d;
  color: antiquewhite;
  transform: rotateY(180deg);
}

ul {
  margin: 0;
  padding: 0 0 56px 0;
  list-style: none;
}

   