body {
  margin: 0;
  padding: 0;
  background: #F2F4F5;
  color: #1E1E1F;
  font-family: 'Salsa', cursive;
  font-size: 24px;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
